<!DOCTYPE html>
<html>
  <head>
    <% include ../views/partials/head %>
    <title>Pokedex</title>
  </head>
  <body class="container">
  <form action="/<%=index%>?_method=PUT" method="POST">
      <h4>Name:</h4> <input type="text" name="name" value="<%=data.name%>"/>
                     <br/>
      <h4>Type:</h4> Type #1: <input type="text" name="type" value="<%=data.type%>"/>
                     Type #2: <input type="text" name="type" value="<%=data.type%>"/>
                     <br/>
      <h4>Stats:</h4> HP: <input type="text" name="stats" value="<%=data.stats.hp%>" />
                      Attack: <input type="text" name="stats" value="<%=data.stats.attack%>" />
                      Defense: <input type="text" name="stats" value="<%=data.stats.defense%>" />
                      <br/>
                      SPAttack: <input type="text" name="stats" value="<%=data.stats.spattack%>" />
                      SPDefense: <input type="text" name="stats" value="<%=data.stats.spdefense%>" />
                      Speed: <input type="text" name="stats" value="<%=data.stats.speed%>" />
                     <br/>
      <h4>Image:</h4> <input type="text" name="img" value="<%=data.img%>" />
      <br/>
      <input type='submit' class="button-primary" value="Edit <%=data.name%>'s Information"/>
    </form>
        <a href="/">Return Home</a>
  </body>
</html>
